.movie-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 20px;
  }
  
  .movie-title {
    font-size: 24px;
    margin-bottom: 16px;
    color: white;
  }
  
  .movie-poster {
    width: 300px;
    height: auto;
    margin-bottom: 16px;
  }
  
  .movie-overview {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 16px;
    color: white;
  }
  
  .movie-release-date,
  .movie-rating {
    font-size: 16px;
    margin-bottom: 8px;
    color: white;
  }
  