.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.movie-item {
  flex: 0 0 calc(16.66667% - 1em);
  margin: 8px;

}

.movie-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.movie-poster {
  max-width: 100%;
}

.no-poster {
  text-align: center;
  font-size: 18px;
  color: grey;
}

h2 {
  color: white;
  margin: 0 auto;
  text-align: center;
}


@media only screen and (max-width: 768px) {
  .movie-item {
    flex: 0 0 calc(33.33333% - 1em);
  }
}


@media only screen and (max-width: 480px) {
  .movie-item {
    flex: 0 0 calc(50% - 1em);
  }
}
