.movie-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 100px;
  }
  
  .movie-title {
    font-size: 24px;
    margin-bottom: 16px;
    color: white;
  }
  
  .movie-poster {
    width: 300px;
    height: auto;
    margin-bottom: 16px;
  }

  .movie-overview {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 16px;
    color: white;
  }
  
  .movie-release-date,
  .movie-rating {
    font-size: 16px;
    margin-bottom: 8px;
    color: white;
  }

@media (max-width: 768px) {
  .movie-details-container {
    max-width: 600px;
    padding: 15px;
  }
  .movie-poster {
    width: 250px;
  }
  .movie-title,
  .movie-release-date,
  .movie-rating,
  .movie-overview {
    font-size: 14px;
  }
}


@media (max-width: 480px) {
  .movie-details-container {
    max-width: 100%;
    padding: 10px;
  }
  .movie-poster {
    width: 200px;
  }
  .movie-title,
  .movie-release-date,
  .movie-rating,
  .movie-overview {
    font-size: 12px;
  }
}
.movie-details-container button {
  background-color: #007BFF;
  border: none; 
  color: white;
  padding: 12px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 4px; 
}

.movie-details-container button:hover {
  background-color: #0056b3; 
}
  