.movieListed ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}
.movieListed ul a {
    text-decoration:none ;
    color: white;
}
.movieListed ul li:first-child a {
    text-decoration: none;
    border-bottom: 4px solid #3A3F47;
    padding-bottom: 5px;
}