.movie-container {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  overflow-x: auto;
  margin-top: 15px;
  
}

.movie-container a {
  flex: 0 0 calc(16.66667% - 1em);
  margin: 0.5em;
}

.movie-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform .2s ease-in-out; 
}
.movie-container img:hover{
  transform: scale(1.02);
}
