.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-x: auto;
  margin-top: 15px;
}

.movie-container a {
  flex: 0 0 calc(16.66667% - 1em);
  margin: 0.5em;
  position: relative;
}

.movie-number {
  position: absolute;
  top: 310px;
  left: 7px;
  color: #0a0de7;
  font-size: 120px;
  font-weight: bold;
  background-color: transparent;
}

.movie-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


@media only screen and (max-width: 768px) {
  .movie-container a {
    flex: 0 0 calc(33.33333% - 1em);
  }
}

@media only screen and (max-width: 480px) {
  .movie-container a {
    flex: 0 0 calc(50% - 1em);
  }
}
