.movie-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 16px;
  padding: 16px;
}

.movie-grid a {
  display: block;
}

.movie-grid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform .2s ease-in-out; 
}

.movie-grid img:hover {
  transform: scale(1.02);
}


@media (max-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media (max-width: 480px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
