
.movie-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;  
    margin: 16px;
  }
  
 
  @media (max-width: 1200px) {
    .movie-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (max-width: 900px) {
    .movie-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .movie-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  

  .movie-container img {
    width: 100%;
    border-radius: 8px;  
    transition: transform .2s ease-in-out;  
  }
  
  .movie-container img:hover {
    transform: scale(1.02);
}  